.container{
  display: inline-block; 
  text-align: center;
  position: fixed;
  left: 400px;
  top:10px;
  .flexparent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    .flexchild{
      background-color: whitesmoke;
      // border:3px solid hotpink;
        width:600px;
      .thumbnaildiv{
        display: flex;
        flex-direction: row;
        justify-content: left;
          #displaypic{
            //  padding-right: 20px;
              border-radius: 50%;
              height: 60px;
              width: 50px;
              margin:10px;
          }
      .btn{
          position:absolute;
          right:10px;
           padding-top: 10px;
        button{
          margin-right: 10px;
          //  padding:10px 10px;
        }
      }
      }
      .forflex{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        span{
          font-size: small;
          font-style: italic;
          font-family: sans-serif;
        }
        textarea{
          font-weight: bold;
          font-style: italic;
          font-family: sans-serif;
        }
      }
    }
  }
}

.Restaurant{
  position:absolute;
   left:10px;
    // text-align: left;
     margin-top:54px;
    margin-left:1px;
    height:300px;
    width:300px;
    
  img{
    height:300px;
    width:300px;
  }
}


.About{

  position: absolute;
    top:10px;
}
.RouteC{
  position: relative;
   bottom:800px;
.Route{
  
  display: flex;
      flex-direction: row;
justify-content: space-evenly;


      
//    list-style-type:none;
//     margin: 0px;
//     padding: 0px;
//     position: absolute;
//     top:400px;

  link{
     font-size: xx-large;
      padding :10px 10px;
      margin: 0px;
      color: white;
      background-color: white;
      
                  }


}
}

.try{
  margin:0px;
 
  background-color: white;
position: absolute;
  height:700px;
  width:10%;
  border-top-right-radius: 90%;
  border-bottom-right-radius: 90%;
}