.container{
  text-align: center;
  position: absolute;
  left: 400px;
  .flexparent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    .flexchild{
      background-color: whitesmoke;
      // border:3px solid hotpink;
        width:600px;
      .thumbnaildiv{
        display: flex;
        flex-direction: row;
        justify-content: left;
          #displaypic{
            //  padding-right: 20px;
              border-radius: 50%;
              height: 30px;
              width: 30px;
              margin:10px;
          }
      .btn{
          position:absolute;
          right:10px;
           padding-top: 10px;
        button{
          margin-right: 10px;
          //  padding:10px 10px;
        }
      }
      }
      .forflex{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        span{
          font-size: small;
          font-style: italic;
          font-family: sans-serif;
        }
        textarea{
          font-weight: bold;
          font-style: italic;
          font-family: sans-serif;
        }
      }
    }
  }
}