

.holder{
    /* overflow: auto; */
    top:100px;
     left:250px;  

}

.holder input {

    font-size: 36px;
    font-style: bold;
    font-family: "Roboto";
    color: orangered;
    border-color: black;
    text-align: center;
    width:200px;
}

.title{
    text-align: center;
    font-family: "Canela Text";
    font-size: 60px;
}

.city{
    text-align: center;
    font-family: "Canela Text";
    font-size: medium;
}



.button {
   
   
    border:none;
    color: white;
    margin: 0 20px;
    border-radius: 8px;
    width: 85px;
    font-size: large;
    background-color:  red;
}