.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: #CCF7FB ;
  }
  
  .modal-main {
    margin:0px;
    /* background-color: burlywood; */
    position: fixed;
  
  }
  
  .display-block {
    display: block;
    width:0px;
  }
  
  .display-none {
    display: none;
  }
#chefdiv{
  position: absolute;
  width: 210px;
  height:210px;

  margin:0;
    top: -35px;
    left:-180px;
}
  #chef{

    position: absolute;
    
    width: 30px;
    height:280px;
    
  }

  .links{
    position: absolute;
    top:-250px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* grid-template-columns: auto auto; */
    /* font-size: xx-large;
    font-weight: 900; */
    margin-left: 150px;
    
    
  }

  .links > .link{

    font-size: xxx-large;
    font-weight: 600;
    font-family: cursive;
    box-shadow: none;
    text-decoration: none;
    color:black;
    margin:30px;       
}
.link:hover{
  color:red;
}
.wrapper{
width:100%;
height:100%;
    position:absolute;
    display:flex;
 flex-direction: row;
    
}

#menu{
  margin:0px;
  top:-400px;
  /* background-color: burlywood; */
  position: absolute;
   left:-450px; 
   transition: 0.5s;

}

  .About > img {
 
      position:relative;
      top:-50px;
      left:-220px;
      width:2000px;
  


  }
  #yelp{
    font-family:cursive;
    color: Red;
    font-size:xxx-large;
    position: absolute;
    left:710px;

  }
  .About > #header {
 
    position:absolute;
    top:250px;
    left:580px;
    /* width:2000px; */
    font-family:cursive;
    font-size:x-large;




}

  